version: "3.9"
services:
  api:
    build: ./backend
    container_name: clinical-api
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1

  web:
    build: ./frontend
    container_name: clinical-web
    ports:
      - "3000:80"
    depends_on:
      - api
